body {background-color: #fdf7ec;}

@font-face {
    font-family: 'nunito-serif';
    font-style: Regular;
    src: url('../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
    font-weight: normal;
}

body, h1, h2, h3, h4, h5, h6, p{
    padding-left: 50px;
    padding-right: 50px;
    font-family: nunito-serif;
    color: #621d04;
}

div{
    padding-bottom: 5px;
    padding-top: 5px;
}